@import "base/colors.scss";
@import "base/layout.scss";
@import "base/mixins.scss";

@import "components/pages/home.scss";
@import "components/pages/page-not-found.scss";

@import "components/building-blocks/header.scss";
@import "components/building-blocks/welcome.scss";
@import "components/building-blocks/deals.scss";
@import "components/building-blocks/contact.scss";
@import "components/building-blocks/footer.scss";
