.mv-deals {
  border-bottom: 1px solid $main;

  .header {
    @include fade-on-scroll();
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: $accent;
  }

  .standard-container, .mini-detail-container, .full-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .standard-unit, .mini-detail-unit, .full-detail-unit {
    @include fade-on-scroll();
    border-radius: 2px;
    width: 32%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px $light-grey;
    overflow: hidden;

    .name {
      padding: 20px;
      border-bottom: 1px solid $accent;
      font-size: 16px;
      font-weight: 200;
      color: white;
      background: $main;
    }

    .feature {
      padding: 10px 20px;
      color: $medium-grey;
      border-bottom: 1px solid $lighter-grey;
    }

    .price {
      padding: 12px 20px;
      font-size: 13px;
      font-weight: 600;
      background: $lightest-grey;
      color: $accent;
    }
  }

  .full-detail-container { margin-bottom: 40px; }
}

@media screen and (max-width: 600px) {
  .mv-deals {
    border-bottom: 1px solid $lighter-grey;

    .header {
      margin-top: 50px;
      font-size: 18px;

      &.standard { margin-top: 0; }
    }

    .full-detail-container { margin-bottom: 0; }

    .standard-unit, .mini-detail-unit, .full-detail-unit {
      width: 100%;
      margin-top: 30px;
    }
  }
}
