.mv-gallery > .main {
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;

    > img {
      width: auto; height: 200px;
      margin: 5px;
    }
  }
}
