.mv-home {
  .mv-welcome, .mv-deals, .mv-contact {
    width: 80vw;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    color: $dark-grey;
  }
}

@media screen and (max-width: 600px) {
  .mv-home {
    .mv-header { display: none; }

    .mv-welcome, .mv-deals, .mv-contact {
      width: 100vw;
      min-width: 0;
    }
  }
}
