.mv-home {
  .mv-welcome, .mv-deals, .mv-contact {
    width: 80vw;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    color: $dark-grey;
  }
}